// ***********************************
// VÝHODY
// ***********************************

.novinky__obsah {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $pad;
}

.novinka {
  display: block;
  padding: $pad;
  background-color: $color-light;
  text-decoration: none;
  color: $color-dark;
  &:active {
    color: $color-dark;
  }
}

.novinka__datum {
  margin: 0 0 ($pad / 2) 0;
  color: $color-grey;
}

.novinka__nazev {
  font-family: $font-special;
  font-weight: normal;
  font-size: 16px;
  color: $color-primary;
  margin: 0 0 ($pad / 2) 0;
}

.novinka__text {
  margin: ($pad / 2) 0 0 0;
}
