<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cestovka</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="content-wrap">
      <header class="hlavicka u-my4">
        
        <a href="/">
          <img
            class="logo"
            src="/images/logo.svg"
            alt="Cestovka logo"
            width="237"
            height="30"
          />
        </a>

        <nav class="menu">
          <a class="menu__link" href="#">Last minute</a>
          <a class="menu__link" href="#">Destinace</a>
          <a class="menu__link" href="#">Časté otázky</a>
        </nav>
      </header>
    
  </body>
</html>
